<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.code.demo.mapper.UserMapper">

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id" >
    insert into sys_user(
    user_name, user_password, user_email ,
    user_info, head_img , create_time)
    values(
    #{userName}, #{userPassword}, #{userEmail} ,
    #{userinfo}, #{headimg , jdbcType=BLOB} ,
    #{createTime , jdbcType= TIMESTAMP})
    </insert>

    <delete id="deleteById">
         delete from sys_user where id = #{id}
         select id,user_name,user_password from sys_user where id=(select user_id from sys_user_role where role_id=1)
    </delete>

</mapper>